@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    line-height: normal !important;
    margin: 0 !important;
}

.ticket-section {
    margin: 60px 0;
    display: grid;
    font-family: "Staatliches", cursive !important;
    color: black;
    gap: 50px;
}

.ticket {
    margin: auto;
    display: flex;
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.left {
    display: flex;
}

.ticket-image {
    height: 250px;
    width: 250px;
    background-image: url("https://media.pitchfork.com/photos/60db53e71dfc7ddc9f5086f9/1:1/w_1656,h_1656,c_limit/Olivia-Rodrigo-Sour-Prom.jpg");
    background-size: contain;
    opacity: 0.85;
}

.admit-one {
    position: absolute;
    color: darkgray;
    height: 250px;
    padding: 0 4px;
    letter-spacing: 0.15em;
    display: flex;
    text-align: center;
    justify-content: space-around;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.admit-one span:nth-child(2) {
    color: white;
    font-weight: 700;
}

.left .ticket-number {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
}

.ticket-info {
    max-width: 550px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

 .navy-blue-button {
     display: inline-block;
     padding: 6px 40px;
     font-size: 16px;
     text-align: center;
     text-decoration: none;
     cursor: pointer;
     border: none;
     border-radius: 10px;
     color: #fff;
     background-color: navy;
     transition: background-color 0.3s ease;
 }

 .navy-blue-button:hover {
     background-color: #001f3f;
 }

.ticket-date {
    width: 500px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.ticket-date span {
    width: 100px;
    font-family: "Staatliches", cursive !important;
    color: black;
}

.ticket-date span:first-child {
    text-align: left;
}

.ticket-date span:last-child {
    text-align: right;
}

.ticket-date .june-29 {
    color: #d83565;
    font-size: 20px;
}

.ticket-show-name h2{
    font-size: 32px;
    font-family: "Nanum Pen Script", cursive !important;
    color: #d83565;
}

.ticket-show-name h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: "Nanum Pen Script", cursive !important;
    color: #4a437e;
}

.ticket-time {
    display: flex;
    flex-direction: column;
}

.ticket-time p{
    color: #4a437e;
    padding: 3px 0;
    color: #4a437e;
    text-align: center;
    font-weight: 700;
    font-family: "Staatliches", cursive !important;
}

.ticket-time span {
    font-weight: 400;
    color: gray;
}

.left .ticket-time {
    font-size: 16px;
}


.ticket-location {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    color: rgb(23, 14, 14);
    font-weight: bold;
    border-top: 1px solid gray;
}

.ticket-location .separator {
    font-size: 20px;
}

.right {
    width: 180px;
    border-left: 1px dashed #404040;
}

.right .admit-one {
    color: darkgray;
}

.right .admit-one span:nth-child(2) {
    color: gray;
}

.right .right-info-container {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.right .ticket-show-name h1 {
    font-size: 18px;
}

.ticket-barcode {
    height: 100px;
}

.ticket-barcode img {
    height: 100%;
}

.right .ticket-number {
    color: gray;
}

