@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* * {
  box-sizing: border-box;
} */

.seatPage {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.bookingForm {
  width: 65%;
  margin-top: 80px;
  margin-bottom: 50px
}

.movie-container {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  margin: 20px 0;
}

.movie-container h5{
  color: white;
  line-height: none !important;
}

.movie-container span {
  color: #000;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1300px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: center;
}

.seat-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 5px;
  /* 添加内边距 */
}

.seat {
  position: relative;
  background-color: #444451;
  height: 30px !important;
  width: 52px !important;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  /* 添加内边距 */
}

.seat.selected {
  background-color: green;
}

.seat-selected-display {
  position: relative;
  background-color: green;
}

.seat-selected-display::before {
  content: attr(data-seat-type);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
}

.seat.sold {
  background-color: #ff0c0c;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.seat:not(.sold):hover::before {
  content: attr(data-seat-type);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  font-size: 18px;
  margin: 5px 0;
}

p.text span {
  color: rgb(158, 248, 158);
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: rgb(158, 248, 158);
}

.seat-information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addtocart {
  display: block;
  padding: 1.2em 9em 1.2em 9em;
  border-radius: 100px;
  border: none;
  font-size: 1.2em;
  position: relative;
  background: #0652DD;
  cursor: pointer;
  height: 2em;
  width: 10em;
  overflow: hidden;
  transition: transform 0.1s;
  z-index: 1;
}

.addtocart:hover {
  transform: scale(1.1);
}

.pretext {
  color: #fff;
  background: #0652DD;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

i {
  margin-right: 10px;
}

.done {
  background: #160105;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;

  transform: translate(-110%) skew(-40deg);
}

.posttext {
  background: #141214;
}

.fa-check {
  background: #0f0e0f;
}

 .toast {
     visibility: hidden;
     max-width: 200px;
     background-color: #333;
     color: #fff;
     text-align: center;
     border-radius: 5px;
     padding: 16px;
     position: fixed;
     z-index: 1;
     left: 50%;
     bottom: 60px;
     transform: translateX(-50%);
 }

 .toast.show {
     visibility: visible;
     -webkit-animation: fadein 0.5s, fadeout 3s 2s;
     animation: fadein 0.5s, fadeout 3s 2s;
 }

 @-webkit-keyframes fadein {
     from {
         bottom: 0;
         opacity: 0;
     }

     to {
         bottom: 60px;
         opacity: 1;
     }
 }

 @keyframes fadein {
     from {
         bottom: 0;
         opacity: 0;
     }

     to {
         bottom: 60px;
         opacity: 1;
     }
 }

 @-webkit-keyframes fadeout {
     from {
         bottom: 60px;
         opacity: 1;
     }

     to {
         bottom: 0;
         opacity: 0;
     }
 }

 @keyframes fadeout {
     from {
         bottom: 60px;
         opacity: 1;
     }

     to {
         bottom: 0;
         opacity: 0;
     }
 }
